{% load static %}

<footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-lg-6 col-md-6">
            <!-- Footer Widget -->
            <div class="footer-widget footer-about">
              <div class="footer-logo ">
                <img width="200px"
                  src="{% static 'HealthStack-System/images/Normal/logo.png' %}"
                  alt="logo"
                />
              </div>
              <div class="footer-about-content">
                <p>
                 Mahima Medicare is a polyclinic, A polyclinic is a type of healthcare facility that provides a wide range of medical services, typically for outpatients, under one roof. It provides home assistance to patients care in emergency treatment.24x7 monitor, track, and helps to improve patients care. It having well trend Doctors and para medicos and well-designed infrastructure for treatment. You can Walk in with Worry but Walk out with Wellness. It’s our commitment. Mahima Medicare “YOUR HELTHS PARTNER”
                </p>
                <br>
                <div class="social-icon">
                  <ul>
                    <li>
                      <a href="https://www.facebook.com/share/16vgeD3fZd/" target="_blank"
                        ><i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" target="_blank"
                        ><i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" target="_blank"
                        ><i class="fab fa-linkedin-in"></i
                      ></a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/mahima_medicare/?utm_source=qr&igsh=MWVvcDNzMGF2cjQ5NQ%3D%3D#" target="_blank"
                        ><i class="fab fa-instagram"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#" target="_blank"
                        ><i class="fab fa-dribbble"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /Footer Widget -->
          </div>


          <div class="col-lg-3 col-md-6">
            <!-- Footer Widget -->
            
            <!-- /Footer Widget -->
          </div>

          <div class="col-lg-3 col-md-6">
            <!-- Footer Widget -->
            <div class="footer-widget footer-contact">
              <h2 class="footer-title">Contact Us</h2>
              <div class="footer-contact-info">
                <div class="footer-address">
                  <span><i class="fas fa-map-marker-alt"></i></span>
                  <p>
                    Mahima Medicare Bakoliya, Bajar, Orti, Cuttack, Barasahi, Odisha 754209
                  </p>
                </div>
                <p>
                  <i class="fas fa-phone-alt"></i>
                  +91 8763814619
                </p>
                <p class="mb-0">
                  <i class="fas fa-envelope"></i>
                 mahimamedicare01@gamil.com
                </p>
              </div>
            </div>
            <!-- /Footer Widget -->
          </div>
        </div>
      </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    
    <!-- /Footer Bottom -->
  </footer>